---
import { Playlist } from "../lib/data";
interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { albumId, artists, color, cover, id, title } = playlist;

const artistsString = artists.join(", ");
---

<a
  href={`/playlist/${id}`}
  class="playlist-item w-44 transition-all bg-slate-500/30 duration-300 shadow-lg flex flex-col relative overflow-hidden p-2 gap-2 pb-6 rounded-md hover:bg-zinc-700 hover:shadow-xl"
  transition:name=`playlist ${id} box`
>
  <picture class="aspect-square h-auto w-full flex-none">
    <img src={cover} alt=`Cover of ${title} by ${artistsString}` class="object-cover w-full rounded-md" transition:name=`playlist ${id} image`/>
  </picture>
  <div class="flex flex-auto flex-col p-x-2">
    <h4 class="text-sm" transition:name=`playlist ${id} title`>
      {title}
    </h4>
    <span class="text-xs text-gray-500" transition:name=`playlist ${id} artists`>
      {artistsString}
    </span>
  </div>
</a>
